#IDE files
fi/
*.swp
*.user
*.vcxproj.*
*.sdf
*.suo
*.opensdf
*.idb
*.pdb
*.ilk
*.exe*
*lastbuildstate
ipch/*

#Compiled files
*.o
*.o.d
*.a
*.tar.gz
*.so.*
*.so
*.la
*.obj
*.lib
*.dll
*.exe
*.log
*.tlog
debug/client

pugixml/*
SDL2_image-2.0.0/*
SDL2-2.0.0/*